.navigation {
  .button-group {
    display: flex;

    button {
      width: 100%;
      white-space: nowrap;
      padding: 0 4vw;
      color: #ffffff;
      &:nth-child(1) {
        border: 1px solid #9e9dfe;
        margin-left: 15px;
      }
    }
  }

  .button-group-mob {
    display: none;
  }

  .create-event {
    display: flex;
    width: 50%;
    height: 44px;
    margin-right: 15px;
    img {
      width: 30px;
      height: 30px;
    }
    button {
      font-family: 'HalveticaN', sans-serif;
      font-size: 16px;
      background-color: #9e9dfe;
      width: 100%;
      white-space: nowrap;
      padding: 0 20px;
      color: #ffffff;
    }
  }
}

@include desktop() {
  .navigation {
    .create-event {
      display: none;
    }
  }
}

@include laptop() {
  .navigation {
    .button-group {
      display: none;
    }
  }
}

@include tablet() {
  .logo {
    display: none;
  }
  .navigation {
    .metamask {
      width: 125px;
    }
    .deposit {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      // display: none;
    }
  }
}

@include mobile() {
  .button-group-mob {
    display: flex;
    width: 100%;

    button {
      width: 45vw;
      height: 44px;
      white-space: nowrap;
      padding: 0 4vw;
      color: #ffffff;
      &:nth-child(1) {
        border: 1px solid #9e9dfe;
        // margin-left: 15px;
      }
    }
  }
  .navigation {
    .search {
      display: none;
    }
  }
}
